.root {
  padding: 0;

  .toolbar {
    padding: 0;
    top: calc(48px + calc(2 * var(--lotta-spacing)));
  }

  .metricSelect {
    margin-left: auto;
    min-width: 15em;
  }

  .chartWrapper {
    height: 500px;
    min-height: 0;
    min-width: 300px;
    width: 100%;
  }
}
