@use "breakpoints" as *;

.root {
  width: 30%;
  margin: var(--lotta-spacing);

  @media screen and (max-width: $max-xs) {
    width: 100%;
    margin-inline: 0;
  }

  p {
    font-size: smaller;
    color: rgba(var(--lotta-label-text-color), 0.9);
  }

  .submitButton {
    display: flex;
    justify-content: flex-end;
  }
}
