@import "breakpoints";

.root {
  background: rgb(var(--lotta-box-background-color));
  padding: var(--lotta-spacing);
  margin-bottom: var(--lotta-spacing);

  & > nav {
    display: flex;
    align-items: center;
    padding-bottom: calc(0.5 * var(--lotta-spacing));
    border-bottom: 1px solid rgb(var(--lotta-divider-color));

    svg {
      padding: var(--lotta-spacing);
    }

    a:not(.logoLink, .logoLinkClose) {
      display: flex;
      align-items: center;
      border-right: 1px solid rgb(var(--lotta-divider-color));
      padding-right: var(--lotta-spacing);
    }

    /* Logo with link to home */
    .logoLink,
    .logoLinkClose {
      margin-left: auto;
    }

    h2 {
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      margin: 0;
      margin-block: 0;
      margin-inline: 0;
      padding-left: var(--lotta-spacing);
    }

    .logoLink {
      @media screen and (min-width: $min-sm) {
        display: none;
      }
    }
    .logoLinkClose:not(.forceLogoLinkClose) {
      svg {
        padding: 0;
      }
      @media screen and (max-width: $max-xs) {
        display: none;
      }
    }
  }
}
