.lotta-select {
    padding: 0.7em;
    padding-right: 2em;
    position: relative;
    display: flex;
    border: none;
    border-radius: 0.5em;
    font-size: 0.8rem;
    width: 100%;
    background-color: rgba(var(--lotta-primary-color), 0.1);
    outline: transparent solid 1px;
    -webkit-appearance: none;
    &:focus-visible {
        outline: rgba(var(--lotta-primary-color), 1) solid 1px;
    }
    @media (prefers-color-scheme: dark) { optgroup  {
        color: rgba(var(--lotta-contrast-text-color), 1);
    }}
}
