.root {
  padding: 0 var(--lotta-spacing);
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.figcaption {
  border-bottom: 1px solid rgba(var(--lotta-text-color), 1);
  border-top: none;
  border-left: none;
  border-right: none;
  width: 50%;
}
