/* This file is for your main application CSS */

@import "tailwindcss";
@plugin "daisyui";
@plugin "./tailwind_heroicons.js";

@source "../../deps/backpex/**/*.*ex";
@source "../../deps/backpex/assets/js/**/*.*js";
