.root {
  position: sticky !important;
  z-index: 100;
  .toolbar {
    background-color: transparent;
    padding: var(--lotta-spacing);
    overflow: auto;
  }
  .buttonGroup {
    margin-right: calc(0.5 * var(--lotta-spacing));
  }
}
