<p>
  Hallo {@user.name},
</p>
<p>
  Der Beitrag
  <a href={LottaWeb.Urls.get_article_url(@article)} title={@article.title}>{@article.title}</a>
  wurde von {users_list(@article)} als "fertig" markiert.
</p>
<p>
  Er steht zur Überprüfung bereit.
</p>
