<p>
  Hallo <%= @user.name %>,<br />
  Deine Registrierung bei <%= @tenant.title %> war erfolgreich.
</p>

<p>
  Du kannst dich unter <a href={LottaWeb.Urls.get_tenant_url(@tenant)} title={@tenant.title}>{LottaWeb.Urls.get_tenant_url(@tenant)}</a> mit deinen Zugangsdaten anmelden:
</p>
<p>
<em>Nutzername:</em> <pre><%= @user.email %></pre><br />
  <em>Passwort:</em> <pre><%= @password %></pre><br />
</p>
