Hallo <%= @user.name %>,
Jemand hat über <%= LottaWeb.Urls.get_tenant_url(@tenant) %> eine Anfrage zum Zurücksetzen deines Passworts gesendet.
Du kannst dein passwort über folgenden Link zurücksetzen: <%= @link %>.
Solltest du die Anfrage nicht selbst versandt haben, kannst du diese Nachricht ignorieren.
