.root {
  .toolbar {
    align-items: baseline;

    .widgetType {
      color: rgb(var(--lotta-disabled-color));
    }
  }

  .footerDivider {
    clear: both;
    margin-block: calc(2 * var(--lotta-spacing));
  }

  .footer {
    display: flex;
    justify-content: space-between;

    .button {
      margin-right: var(--lotta-spacing);
    }
  }
}
