.root {
  .toolbar {
    align-items: baseline;

    .widgetType {
      color: rgb(var(--lotta-disabled-color));
    }
  }

  .footer {
    display: flex;

    .button {
      margin-right: var(--lotta-spacing);
    }

  }
}
