@import 'breakpoints';

.root {
  .splitViewNavigation {
    padding-inline: 0;
  }

  .conversationPreview:last-child {
    margin-bottom: 0;
  }

  .noMessagesWrapper {
    display: flex;
    flex: 1 1;
    align-items: center;
    justify-content: center;
    color: rgba(var(--lotta-disabled-color), 1);
  }
}
