@import 'breakpoints';

.root {
  margin-top: calc(-1 * var(--lotta-spacing));

  .noMessagesWrapper {
    display: flex;
    flex: 1 1;
    align-items: center;
    justify-content: center;
    color: rgba(var(--lotta-disabled-color), 1);
  }
}
