# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc/

/log

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

/_data
/_test

# Ignore assets build output.
/priv/static
!/priv/static/favicon.ico
!/priv/static/robots.txt

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
api-*.tar

.env
.elixir_ls

.DS_Store
