@use "breakpoints" as *;

.root {
  padding: var(--lotta-spacing);

  h3 {
    position: sticky;
    top: 0;
    z-index: 1;
    padding-block: var(--lotta-spacing);
    text-transform: uppercase;
    background: rgb(var(--lotta-box-background-color));
  }

  section {
    display: grid;
    grid-gap: calc(1 * var(--lotta-spacing));
    padding-bottom: var(--lotta-spacing);

    grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
    justify-items: center;

    &:not(:last-child) {
      border-bottom: 1px solid rgba(var(--lotta-divider-color), 1);
    }

    &:last-child {
      display: flex;
      padding-top: var(--lotta-spacing);
      justify-content: flex-end;
    }

    @media screen and (max-width: $max-xs) {
      grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
      grid-gap: var(--lotta-spacing);
    }
  }

  .button {
    font-weight: bolder;
    flex-direction: column;
    align-items: center;
    width: 14em;
    text-align: center;

    @media screen and (max-width: $max-xs) {
      font-size: 0.65rem;
    }

    span:first-child {
      margin: calc(2 * var(--lotta-spacing));
    }

    svg {
      font-size: 50px;
      transition: transform ease-out 0.2s;

      @media screen and (max-width: $max-xs) {
        font-size: 35px;
      }
    }

    &:hover svg {
      transform: scale(1.21) translateY(-0.05em);
    }
  }
}
