Hallo <%= @user.name %>,

Der Beitrag <%= @article.title %> (<%= Api.Content.Article.get_url(@article) %>) wurde von <%= users_list(@article) %> als "fertig" markiert.

Er steht zur Überprüfung bereit.
