.root {
  margin-inline: var(--lotta-spacing);
  .inputWrapper {
    display: flex;
    & > div {
      padding: var(--lotta-spacing);
      flex: 0 0 60%;
      &:first-child {
        flex-basis: 40%;
      }
    }
  }

  .clear {
    clear: right;
  }
}
