.configurationProperty {
  margin-top: var(--lotta-spacing);
  margin-bottom: var(--lotta-spacing);
}

.option {
  padding-left: var(--lotta-spacing);
  margin-top: var(--lotta-spacing);
  margin-bottom: var(--lotta-spacing);
  border-left-width: 2px;
  border-left-style: inset;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
