@use "breakpoints" as *;

.root {
  padding: var(--lotta-spacing) calc(2 * var(--lotta-spacing));

  @media screen and (min-width: $max-md) {
    margin: 0 16.6%;
  }
}

.submitButton {
  float: right;
  margin-top: calc(2 * var(--lotta-spacing));
  margin-bottom: calc(2 * var(--lotta-spacing));
}

.formElement {
  margin-bottom: calc(2 * var(--lotta-spacing));
}
