.root {
  &:not(:last-child) {
    margin: calc(2 * var(--lotta-spacing));
  }

  &:not(.bottomToolbar) > * {
    width: 100%;
  }

  &.bottomToolbar {
    position: sticky;
    background-color: rgb(var(--lotta-box-background-color));
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: var(--lotta-spacing) 0;
    border-top: 1px solid rgb(var(--lotta-divider-color));
  }
}
