@use "breakpoints" as *;

.root {
  & > h3 {
    display: flex;
    align-items: center;
  }

  .backButton {
    display: none;

    @media screen and (max-width: $max-xs) {
      display: inline-flex;
    }
  }
}
