.root {
    .heading {
        margin-bottom: calc(3 * var(--lotta-spacing));
    }
    nav {
        overflow: hidden;
        margin-bottom: var(--lotta-spacing);
        background-color: rgb(var(--lotta-box-background-color));
        color: rgb(var(--lotta-text-color));
        padding-left: calc(2 * var(--lotta-spacing));
        &:hover {
            border-color: rgb(var(--lotta-primary-color));
        }
    }
    .before::before {
        display: none;
    }
    li {
        list-style: none;
    }
}
