.root {
    display: inline-block;
    position: relative;
    .button {
        position: absolute;
        top: -7.5px;
        right: -7.5px;
        width: 15px;
        height: 15px;
        overflow: hidden;
        z-index: 1;
        transform: scale(0);
    }
    &:hover {
        .button {
            transform: scale(1);
        }
    }
}
