.root {
    z-index: 1;
    pointer-events: none;
    position: absolute;
    padding: 0.25em 0.5em;
    box-shadow: 2px 2px 10px hsla(0, 0%, 0%, 0.1);
    white-space: nowrap;
    font-size: 85%;
    background: rgb(var(--lotta-primary-color));
    color: rgb(var(--lotta-contrast-text-color));
    border: rgb(var(--lotta-text-color));
    border-radius: var(--lotta-border-radius);
    &:empty {
        display: none;
    }
}


