@import "breakpoints";

.root {
  padding: var(--lotta-spacing);

  h3 {
    position: sticky;
    top: calc(-1 * var(--lotta-spacing));
    z-index: 1;
    padding-top: var(--lotta-spacing);
    text-transform: uppercase;
    background: rgb(var(--lotta-box-background-color));
  }

  section {
    display: grid;
    overflow-x: auto;
    grid-gap: calc(2 * var(--lotta-spacing));
    padding-bottom: var(--lotta-spacing);

    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
    justify-items: center;

    &:not(:last-child) {
      border-bottom: 1px solid rgba(var(--lotta-divider-color), 1);
    }
    &:last-child {
      display: flex;
      padding-top: var(--lotta-spacing);
      justify-content: flex-end;
    }
  }

  .button {
    font-weight: bolder;
    flex-direction: column;
    width: 14em;
    text-align: center;
    @media screen and (max-width: $max-xs) {
      width: auto;
      font-size: 0.65rem;
    }
    span:first-child {
      margin: calc(2 * var(--lotta-spacing));
    }
    svg {
      font-size: 50px;
      transition: transform ease-out 0.2s;
      @media screen and (max-width: $max-xs) {
        font-size: 35px;
      }
    }
    &:hover svg {
      transform: scale(1.12);
    }
  }
}
