@import 'colors';

.box {
    background-color: l_color(box-background);
    padding: var(--lotta-spacing);
    margin: 0;
    border-radius: var(--lotta-border-radius);
    display: flex;
    width: 100%;
}
