@use "breakpoints" as *;

.root {
  padding: var(--lotta-spacing);
  padding-top: 30px;

  @media screen and (min-width: $min-md) {
    margin: 0 16.6%;
  }
}

.edit {
  width: 100%;
  outline: none;
  border: 0;

  &.h6 {
    font-size: 1rem;
  }

  &.h5 {
    font-size: 1.2rem;
  }

  &.h4 {
    font-size: 1.3rem;
  }
}
