---
include:
  - path: ../core-api/docker-compose.services.base.yaml

services:
  web:
    image: ${LOTTA_WEB_IMAGE:-ghcr.io/lotta-schule/web:${LOTTA_WEB_VERSION:-${IMAGE_TAG:-latest}}}
    ports:
      - '3000:3000'
    depends_on:
      core:
        condition: service_healthy
    env_file: env-file

  core:
    image: ${LOTTA_CORE_IMAGE:-ghcr.io/lotta-schule/core:${LOTTA_CORE_VERSION:-${IMAGE_TAG:-latest}}}
    ports:
      - 4000:4000
      - 4321:4321
    healthcheck:
      disable: true
      retries: 5
      start_period: 30s
      test: |-
        CMD wget --no-verbose --tries=1 --spider http://localhost:4000/_debug/health || exit 1
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
      minio:
        condition: service_healthy
    env_file: env-file
