@use "breakpoints" as *;

.root {
  margin: 0 auto;
  padding-left: var(--lotta-spacing);
  padding-right: var(--lotta-spacing);
  width: fit-content;
  max-width: 80vw;

  @media screen and (max-width: $max-xs) {
    padding: 0;
    margin: 0;
    width: auto;
    max-width: none;
  }
}
