@use "breakpoints" as *;

.root {
  max-width: 100%;

  &:not(.isUsingFullHeight) {
    max-height: 80vh;
  }

  &.isClickable {
    cursor: pointer;
  }

  @media screen and (max-width: $max-xs) {
    max-height: 100%;
    width: 100%;
  }
}
