.root {
  padding: 0 var(--lotta-spacing);
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.figcaption {
  border: none;
  border-bottom: 1px solid rgb(var(--lotta-text-color));
  width: 50%;
  min-width: 25em;
  max-width: 100%;
  &[contenteditable] {
    width: 100%;
  }
}
