.root {
  display: flex;
  flex-direction: column;
  width: 100%;

  .saveButton {
    margin-top: var(--lotta-spacing);
    margin-left: auto;
    margin-bottom: calc(4 * var(--lotta-spacing));
  }

  .deleteButton {
    align-self: flex-start;
  }

  section {
    margin-bottom: calc(2 * var(--lotta-spacing));
  }
}
