@import 'breakpoints';

.root {
    padding: calc(2 * var(--lotta-spacing));

    .downloadItemWrapper {
        margin: calc(2 * var(--lotta-spacing)) 0;
        @media screen and (min-width: $min-md) {
            margin-left: 16.6%;
            margin-right: 16.6%;
        }
        background-color: rgba(var(--lotta-primary-color), 0.1);
        padding: var(--lotta-spacing);

        display: flex;
        align-items: stretch;

        @media print {
            &::before {
                content: '\2022 '; /* equivalent of &bull; */
            }
        }

        & > div {
            flex-grow: 1;
        }
        .buttonWrapper {
            text-align: center;
            flex: 0 0 25%;
            @media screen and (max-width: $max-xs) {
                flex: 0 0 45%;
            }
            a {
                min-width: 10em;
                max-width: 12.5em;
            }
            @media print {
                display: none;
            }
        }
        .previewImageWrapper {
            flex: 0 0 8.3%;
            @media screen and (max-width: $max-sm) {
                flex: 0 0 16.6%;
            }
            @media screen and (max-width: $max-xs) {
                flex: 0 0 33.2%;
            }
        }
    }

    .downloadDescription {
        font-size: 1em;
        flex-basis: 66%;
    }

    .secondaryHeading {
        font-size: 0.8em;
        color: rgba(var(--lotta-text-color), 1);
    }

    .textArea {
        width: 100%;
        border: 1px solid rgba(var(--lotta-primary-color), 1);
        padding: var(--lotta-spacing);
        resize: inherit;
        color: inherit;
        font: inherit;
    }

    .filename {
        font-size: 1em;
    }

    .dragHandle {
        fill: rgba(var(--lotta-text-color), 0.7);
    }
}
