.root {
  min-height: 48px;
  padding: var(--lotta-spacing);
  background-color: rgba(var(--lotta-box-background-color), 1);
  display: flex;
  flex-wrap: wrap-reverse;
  overflow: auto;
  & > div,
  & > button,
  & > span {
    &:not(:first-child) {
      margin-left: var(--lotta-spacing);
    }
  }
  Button {
    height: fit-content;
    vertical-align: bottom;
  }
}
