.root {
    flex-grow: 0;
    flex-shrink: 0;

    .form {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        width: 100%;
        & > div:first-child {
            /* text input wrapper */
            flex-grow: 1;
        }
    }

    .textField {
        resize: none;
    }

    .button {
        flex-grow: 0;
        flex-shrink: 0;
    }
}
