@import '../theme/breakpoints';

.root {
  width: 100%;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  @media screen and (max-width: $max-xs) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (min-width: $min-lg) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media screen and (min-width: $min-xl) {
    grid-template-columns: repeat(5, 1fr);
  }

  li {
    overflow: auto;
    img {
      width: 100%;
      height: auto;
    }
  }
}
