@use "breakpoints" as *;

.root {
  display: flex;
  align-items: center;
  padding-right: calc(2 * var(--lotta-spacing));
  margin-bottom: var(--lotta-spacing);

  @media screen and (max-width: $max-sm) {
    flex-wrap: wrap;
    margin-bottom: calc(2 * var(--lotta-spacing));
  }

  .colorInput {
    margin-right: var(--lotta-spacing);
    width: 7.5em;

    @media screen and (max-width: $max-sm) {
      width: 100%;
      border-radius: var(--lotta-border-radius);
    }
  }

  .description {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & > p {
      font-size: 0.9rem;

      &:nth-child(2) {
        color: rgba(var(--lotta-label-text-color), 1);
      }
    }
  }
}
