@import 'breakpoints';

.root {
    margin: 0;
    background-color: rgba(var(--lotta-box-background-color), 1);

    .BoxContent {
        padding: calc(2 * var(--lotta-spacing));
    }

    .BoxContainer {
        display: flex;
        padding: var(--lotta-spacing);
    }

    .Sidebar {
        width: 30%;
        padding: var(--lotta-spacing);
    }

    .Main {
        width: 70%;
        padding: var(--lotta-spacing);
    }

    .avatar {
        margin-bottom: var(--lotta-spacing);
    }
}

.buttonList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    button {
        margin: var(--lotta-spacing);
    }
}

.divider {
    margin-top: calc(2 * var(--lotta-spacing));
    margin-bottom: calc(2 * var(--lotta-spacing));
    width: 100%;
}

.groupList {
    margin-bottom: 60;
}

.groupListItem {
    padding-top: 0;
}

.dangerSection {
    width: auto;
    bottom: var(--lotta-spacing);
    left: var(--lotta-spacing);
    @media screen and (max-width: $max-sm) {
        position: relative;
        bottom: initial;
        left: initial;
        margin-bottom: calc(2 * var(--lotta-spacing));
    }
}
