@import "breakpoints";

.root {
  .sorting {
    flex: 0 0 auto;
    width: auto;

    @media screen and (max-width: $max-sm) {
      &:not(:first-child) {
        margin-left: 0;
      }
    }
  }

  .groupSearch {
    width: auto;
  }

  .twoColumnLayout {
    display: flex;
    max-height: calc(100vh - 500px);
    overflow: hidden;

    .groupList {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      margin-right: var(--lotta-spacing);
      padding-right: var(--lotta-spacing);
      width: 40%;
      max-width: 325px;

      @media screen and (max-width: $max-xs) {
        width: 100%;
        max-width: 100%;
      }

      ul {
        overflow: auto;
        max-height: 100%;

        li {
          display: flex;
          align-items: center;
          cursor: pointer;

          &:hover,
          &:focus,
          &.selected {
            background-color: rgba(var(--lotta-primary-color), 0.1);
            border-radius: var(--lotta-border-radius);
          }

          &.highlighted {
            background-color: rgba(var(--lotta-primary-color), 0.05);
            border-radius: var(--lotta-border-radius);
          }

          span {
            .draghandleIcon {
              fill: rgba(var(--lotta-text-color), 0.7);
              margin-right: calc(2 * var(--lotta-spacing));
            }
          }
        }
      }
    }
  }

  .createGroupButton {
    margin-bottom: var(--lotta-spacing);
  }

  .groupSettingSection {
    overflow-y: auto;
    overflow-x: hidden;
    width: 60%;

    @media screen and (max-width: $max-xs) {
      width: 0%;
    }
  }
}
