.root {
    border-radius: var(--lotta-border-radius);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border: 1px solid rgb(var(--lotta-divider-color));
    margin-bottom: var(--lotta-spacing);
    border-radius: var(--lotta-border-radius);
    &:hover {
        border-color: rgb(var(--lotta-primary-color));
    }
    .dragHandle {
        background: rgba(var(--lotta-primary-color), 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3em;
        border-bottom-left-radius: var(--lotta-border-radius);
        border-top-left-radius: var(--lotta-border-radius);
        .moveCategoryHandlerIcon {
            vertical-align: bottom;
            color: rgb(var(--lotta-primary-color));
        }
    }

    .titleWrapper {
        background-color: rgba(var(--lotta-highlight-color), 0.3);
        padding: var(--lotta-spacing);
        cursor: pointer;
        flex: 1;
    }
}
