@import 'breakpoints';

.root {
    margin: 0 16.6%;
    padding: var(--lotta-spacing);
    @media screen and (max-width: $max-sm) {
        margin: 0;
    }
    a {
        text-decoration: none;
        color: rgba(var(--lotta-primary-color), 1);
    }
    p,
    ul,
    ol {
        margin: var(--lotta-spacing);
    }
    ul,
    ol {
        font-family: inherit;
    }
}
