@import 'colors';

.flexContainer {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: rgba(var(--lotta-box-background-color), 1);
}

.table {
    background-color: rgba(var(--lotta-box-background-color), 1);
}

.tableRow {
    cursor: 'pointer';
}

.tableRowHover {
    &:hover > div > div {
        background-color: l_color(highlight, 0.3);
    }
}

.tableCell {
    flex: 1;
}

.noClick {
    cursor: initial;
}

.flexGrow {
    flex-grow: 1;
}

.forceFlexGrow {
    flex: 1 !important;
}
