.root {
  --deletable-button-offset: 4px;

  display: inline-flex;
  .avatar {
    margin-right: calc(var(--deletable-button-offset) * -1);
    &:last-of-type {
      margin-right: var(--deletable-button-offset);
    }
  }
  .overshoot {
    border-radius: 50%;
    background-color: rgb(var(--lotta-accent-grey-color));
    height: 30px;
    width: 30px;
    z-index: 1;
    font-family: var(--lotta-text-font-family);
    color: rgb(var(--lotta-text-color));
    box-shadow: 1px 1px 7px #0000002e;
    line-height: 2em;
    text-align: center;
  }
}
