.createButton {
    float: right;
    margin-bottom: calc(3 * var(--lotta-spacing));
}

.draghandleIcon {
    fill: rgba(var(--lotta-text-color), 0.7);
    margin-right: calc(2 * var(--lotta-spacing));
}
