@import "breakpoints";

.root {
  .toolbar {
    z-index: 2;
    padding: 0;

    @media screen and (max-width: $max-xs) {
      flex-wrap: wrap;
      & > div:last-child {
        width: 100%;
      }
    }
  }

  .breakdownGrid {
    display: grid;
    grid-template: auto / 1fr 1fr;
    align-items: baseline;
    column-gap: calc(6 * var(--lotta-spacing));
    row-gap: calc(6 * var(--lotta-spacing));
    @media screen and (max-width: $max-md) {
      column-grap: var(--lotta-spacing);
    }

    @media screen and (max-width: $max-sm) {
      grid-template: auto / 1fr;
    }
  }

  section {
    font-size: 0.9rem;
  }
}
