.root {
    h3 {
        text-transform: uppercase;
    }

    .buttonRow {
        display: flex;
        flex-wrap: wrap;
        overflow-x: auto;
        padding-bottom: var(--lotta-spacing);
        &:not(:last-child) {
            border-bottom: 1px solid rgba(var(--lotta-divider-color), 1);
        }
    }

    .button {
        font-weight: bolder;
        flex-direction: column;
        width: 17.5em;
        margin-right: calc(2 * var(--lotta-spacing));
        text-align: center;
        span:first-child {
            margin: calc(2 * var(--lotta-spacing));
        }
        svg {
            font-size: 75px;
            transition: transform ease-out 0.2s;
        }
        &:hover svg {
            transform: scale(1.33);
        }
    }
}
