.lotta-base-button {
    position: relative;
    border: 1px solid rgba(var(--lotta-primary-color), 1);
    color: rgba(var(--lotta-primary-color), 1);
    background: none;
    border-radius: 0.5em;
    padding: 0.7em;
    cursor: pointer;
    display: flex;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8rem;
    justify-content: center;
    &:not([disabled]) {
        cursor: pointer;
        &:hover,
        &:active {
            transition: linear;
            transition-duration: 0.2s;
            background-color: rgba(var(--lotta-primary-color), 0.1);
        }
    }
}

.lotta-base-button[disabled] {
    color: rgba(var(--lotta-disabled-color), 1);
    border-color: rgba(var(--lotta-disabled-color), 1);
}

.lotta-base-button:hover {
    background-color: rgba(var(--lotta-primary-color), 0.1);
    transition: linear;
    transition-duration: 0.2s;
}

.lotta-base-button.selected {
    border: 1px solid rgba(var(--lotta-primary-color), 1);
    background-color: rgba(var(--lotta-primary-color), 0.2);
    filter: brightness(90%);

    &:hover {
        filter: brightness(0.9);
    }
    &:active {
        filter: brightness(70%);
    }
}

.lotta-base-button.full-width {
    width: 100%;
}

nav.lotta-navbar ul.secondary .lotta-base-button.selected {
    color: rgba(var(--lotta-primary-color), 1);
    font-weight: 600;
    border: none;
}

/**
  * Custom styles for different variants
  */
.lotta-base-button.variant__fill {
    background-color: rgba(var(--lotta-primary-color), 1);
    color: rgba(var(--lotta-contrast-text-color), 1);
    border: none;
    &:hover {
        transition: linear;
        transition-duration: 0.2s;
        background: rgba(var(--lotta-primary-color), 1);
        box-shadow: inset 0 0 20px #00000024;
    }
    &:active {
        background: rgba(var(--lotta-primary-color), 1);
        box-shadow: inset 0 0 20px #0000004f;
        filter: none;
    }
}

.lotta-base-button.variant__error {
    background-color: rgba(var(--lotta-error-color), 1);
    color: #fff;
    border: none;
    &:hover {
        transition: linear;
        transition-duration: 0.2s;
        background-color: rgba(var(--lotta-error-color), 1);
        box-shadow: inset 0 0 20px #00000024;
    }
    &:active {
        background-color: rgba(var(--lotta-primary-color), 1);
        box-shadow: inset 0 0 20px #0000004f;
        filter: none;
    }
}
