.lotta-button {
    color: rgba(var(--lotta-primary-color), 1);
    font-weight: 200;
    padding: 0.4em 0.8em;
    align-items: center;
    &:not(.small) {
        min-height: 2.8em;
    }
}

.lotta-button_icon {
    display: flex;
}

.lotta-button_text {
    margin: auto;
    display: contents;
}

aside .lotta-button_text {
    margin: 0;
}

aside .lotta-navigation-button {
    border-radius: 50%;
}

aside nav.lotta-navbar ul {
    height: auto;
}

.lotta-button.only-icon:not(.lotta-button-group .lotta-button) {
    border-radius: 50%;
    border-color: transparent;
    padding: 0.4em;
}

.lotta-button.only-icon
    :not(.lotta-button-group .lotta-button)
    :not(.lotta-button.variant__fill)
    :hover {
    background-color: rgba(var(--lotta-primary-color), 0.2);
}
