.lotta-navigation-button:is(button, a) {
    white-space: nowrap;
    padding: 0.3em;
    letter-spacing: 1px;
    font-size: 0.8rem;
    border-radius: 0.5em;
    display: flex;
    min-height: 0;
    border: 1px solid transparent;
    background-color: transparent;
    color: rgba(var(--lotta-contrast-text-color), 1);
}

.lotta-base-button.lotta-navigation-button.selected {
    background-color: transparent;
}

.lotta-base-button.lotta-navigation-button:hover:is(button, a) {
    background-color: rgba(var(--lotta-contrast-text-color), 0.1);
    transition: linear;
    transition-duration: 0.2s;
}

.lotta-base-button.lotta-navigation-button.secondary {
    color: rgba(var(--lotta-navigation-color), 1);
}

.lotta-base-button.lotta-navigation-button.secondary.usernavigation-button svg {
    color: rgba(var(--lotta-primary-color), 1);
}

.lotta-base-button.lotta-navigation-button.secondary.usernavigation-button
    .lotta-button_icon {
    margin-right: calc(var(--lotta-spacing) * 1);
}

.lotta-base-button.lotta-navigation-button.secondary.usernavigation-button {
    justify-content: flex-start;
    width: 100%;
}

.lotta-base-button.lotta-navigation-button.secondary:hover {
    background-color: rgba(var(--lotta-navigation-color), 0.1);
}

.lotta-base-button.lotta-navigation-button.secondary.selected {
    color: rgba(var(--lotta-primary-color), 1);
    font-weight: 600;
    border: none;
}

.lotta-navigation-button .lotta-button_icon svg {
    width: 0.8em;
    height: 0.8em;
}

.lotta-navigation-button .lotta-button_icon ~ .lotta-button_text {
    padding: 0;
    margin-right: auto;
}
