@import "breakpoints";

.root {
  h3 {
    text-transform: uppercase;
  }

  .buttonRow {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    padding-bottom: var(--lotta-spacing);
    &:not(:last-child) {
      border-bottom: 1px solid rgba(var(--lotta-divider-color), 1);
    }
  }

  .button {
    font-weight: bolder;
    flex-direction: column;
    width: 14em;
    margin-right: calc(2 * var(--lotta-spacing));
    text-align: center;
    @media screen and (max-width: $max-xs) {
      width: auto;
      font-size: 0.65rem;
    }
    span:first-child {
      margin: calc(2 * var(--lotta-spacing));
    }
    svg {
      font-size: 50px;
      transition: transform ease-out 0.2s;
      @media screen and (max-width: $max-xs) {
        font-size: 35px;
      }
    }
    &:hover svg {
      transform: scale(1.12);
    }
  }
}
