@use "breakpoints" as *;

.root {
  min-width: min-content;
  max-width: 100%;
  width: 12em;
  min-height: 3em;
  border: 2px solid var(--lotta-color-secondary);
  margin: 0 auto;
  position: relative;

  .overlay {
    background-color: rgba(var(--lotta-highlight-color), 0);
    backdrop-filter: blur(0px);
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;

    &:is(.root:hover > .overlay) {
      transition: all 0.3s ease-in-out;
      display: flex;
      background-color: rgba(var(--lotta-highlight-color), 0.4);
      backdrop-filter: blur(10px);
    }
  }

  .removeButton {
    border: none;
    position: absolute;
    top: calc(-1 * var(--lotta-spacing));
    right: calc(-1 * var(--lotta-spacing));
  }

  .imageDescription {
    position: absolute;
    bottom: var(--lotta-spacing);
    font-size: 0.8rem;
    text-align: center;

    @media screen and (max-width: $max-md) {
      font-size: 0.7rem;
    }

    @media screen and (max-width: $max-sm) {
      font-size: 0.6rem;
    }

    @media screen and (max-width: $max-xs) {
      font-size: 0.5rem;
    }
  }
}
