@use "breakpoints" as *;

.root {
  flex: 1;

  .toolbar {
    display: flex;
    flex-direction: row;
    align-items: bottom;
  }

  .avatar {
    height: 1em;
    width: 1em;
    margin: 0.15em 0.25em 0.15em 0;
  }

  .divider {
    margin-top: var(--lotta-spacing);
    margin-bottom: var(--lotta-spacing);
  }

  .nameSearch {
    margin-bottom: calc(2 * var(--lotta-spacing));
    margin-left: var(--lotta-spacing);

    @media screen and (max-width: $max-xs) {
      width: 100%;
      margin-bottom: 0;

      &:not(:first-child) {
        margin-left: 0px;
      }
    }
  }

  .formControl {
    width: 100%;
  }

  .tableHead {
    height: 3em;
  }

  .filter {
    display: inline-flex;
    width: 30%;
    flex-direction: column;
    flex-grow: 0;

    @media screen and (max-width: $max-sm) {
      width: 50%;

      &:not(:first-child) {
        margin-left: 0px;
      }
    }

    @media screen and (max-width: $max-xs) {
      width: 100%;

      &:not(:first-child) {
        margin-left: 0px;
      }
    }
  }

  .selectfield {
    position: relative;
  }

  .respTable {
    overflow-x: scroll;
  }
}
