.root {
  display: flex;
  flex-direction: column;
  width: 100%;

  .saveButton {
    align-self: flex-end;
  }

  .deleteButton {
    align-self: flex-start;
  }

  section {
    margin-bottom: calc(2 * var(--lotta-spacing));
  }
}
