.root {
  display: flex;
  flex-direction: column;
  width: 100%;

  .saveButton {
    align-self: flex-end;
  }

  .deleteButton {
    align-self: flex-start;
    background-color: rgba(var(--lotta-error-color), 1);
    color: rgba(var(--lotta-contrast-text), 1);
  }

  section {
    margin-bottom: calc(2 * var(--lotta-spacing));
  }
}
