.root {
    .header {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: calc(3 * var(--lotta-spacing));
    }

    .groupSelect {
        margin-top: calc(2 * var(--lotta-spacing)) 0;
    }
}
