@import 'breakpoints';

.root {
  .toolBar {
    overflow: auto;
    margin-bottom: calc(3 * var(--lotta-spacing));
    display: flex;
    align-items: flex-start;
    @media screen and (max-width: $max-xs) {
      flex-direction: column;
    }

    .sorting {
      flex: 0 0 auto;
      @media screen and (max-width: $max-xs) {
        width: 100%;
      }
    }
    .groupSearch {
      width: 35%;
      @media screen and (max-width: $max-xs) {
        width: 100%;
      }
    }
  }

  .twoColumnLayout {
    display: flex;
    max-height: calc(100vh - 500px);
    overflow: hidden;

    .groupList {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      margin-right: var(--lotta-spacing);
      padding-right: var(--lotta-spacing);

      width: 40%;
      max-width: 325px;

      .groupListToolbar {
        display: flex;
        flex-direction: row;
        & > * {
          flex: 1 1 50%;
        }
      }

      @media screen and (max-width: $max-sm) {
        .groupListToolbar {
          flex-direction: column;
          & > * {
            flex: 1 1 100%;
          }
        }
      }
      @media screen and (max-width: $max-xs) {
        min-width: 200px;
      }

      ul {
        overflow: auto;
        max-height: 100%;
        li {
          display: flex;
          align-items: center;
          cursor: pointer;
          &:hover,
          &:focus,
          &.selected {
            background-color: rgba(var(--lotta-primary-color), 0.1);
            border-radius: var(--lotta-border-radius);
          }
          &.highlighted {
            background-color: rgba(var(--lotta-primary-color), 0.05);
            border-radius: var(--lotta-border-radius);
          }
          span {
            .draghandleIcon {
              fill: rgba(var(--lotta-text-color), 0.7);
              margin-right: calc(2 * var(--lotta-spacing));
            }
          }
        }
      }
    }
  }
  .createGroupButton {
    margin-left: auto;
    margin-right: calc(var(--lotta-spacing) * 2);
    margin-top: calc(var(--lotta-spacing) * 2 + 1em);
    margin-left: auto;
    @media screen and (max-width: $max-xs) {
      margin-top: var(--lotta-spacing);
    }
  }
  .groupSettingSection {
    overflow-y: auto;
    overflow-x: hidden;
  }
}
