.root {
  .toolBar {
    overflow: auto;
    margin-bottom: calc(3 * var(--lotta-spacing));
    button {
      float: right;
    }
  }

  .listsWrapper {
    display: flex;
    width: 50%;
    padding-bottom: var(--lotta-spacing);
    ul {
      li {
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover,
        &:focus {
          background-color: rgba(var(--lotta-primary-color), 0.1);
          border-radius: var(--lotta-border-radius);
        }
        span {
          .draghandleIcon {
            fill: rgba(var(--lotta-text-color), 0.7);
            margin-right: calc(2 * var(--lotta-spacing));
          }
        }
      }
    }
  }
  .container {
    display: flex;
  }
  .groupInfoSection {
    width: 50%;
    border-left: 1px solid rgb(var(--lotta-divider-color));
    padding: var(--lotta-spacing);
  }
  .sorting {
    display: inline-flex;
    width: 35%;
  }
}
