@import 'breakpoints';

.root {
  .avatar {
    height: 1em;
    width: 1em;
    margin: 0.15em 0.25em 0.15em 0;
  }

  .divider {
    margin-top: var(--lotta-spacing);
    margin-bottom: var(--lotta-spacing);
  }

  .headline {
    margin-bottom: calc(2 * var(--lotta-spacing));
    margin-left: var(--lotta-spacing);
  }

  .gridContainer {
    display: flex;
    flex-wrap: wrap;
  }
  .gridItem {
    width: 50%;
    @media screen and (max-width: $max-md) {
      width: 100%;
    }
  }

  .resultsGridItem {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .formControl {
    width: 100%;
  }
  .tableHead {
    height: 3em;
  }
  .filter {
    width: 30%;
    display: inline-flex;
    @media screen and (max-width: $max-sm) {
      width: 50%;
    }
    @media screen and (max-width: $max-xs) {
      width: 100%;
    }
  }
  .selectfield {
position: relative;
  }
  .respTable {
    overflow-x: scroll;
  }
}
