@import '../theme/breakpoints';

.root {
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  z-index: 10000;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);

  .dialog {
    position: relative;
    display: flex;
    font-size: 0.8rem;
    background-color: rgba(var(--lotta-box-background-color), 1);
    padding: var(--lotta-spacing);
    border-radius: var(--lotta-border-radius);
    flex-direction: column;
    width: calc(100vw - calc(4 * var(--lotta-spacing)));
    max-width: 600px;
    margin: calc(4 * var(--lotta-spacing)) auto;
    color: rgb(var(--lotta-text-color));

    @media screen and (max-width: $max-xs) {
      width: 100vw;
      height: 100vh;
      height: 100dvh;
      border-radius: 0;
      margin: auto;
    }

    .close {
      position: absolute;
      top: calc(0.5 * var(--lotta-spacing));
      right: calc(0.5 * var(--lotta-spacing));
      opacity: 0.3;

      &:hover {
        opacity: 1;
      }
    }

    h3 {
      text-transform: uppercase;
      font-weight: 100;
      margin-top: var(--lotta-spacing);
      margin-bottom: var(--lotta-spacing);
      color: rgba(var(--lotta-primary-color), 1);
    }

    form {
      display: contents;
    }

    .content {
      flex-shrink: 1;
      overflow: auto;
      padding: var(--lotta-spacing) 0;
    }

    .actions {
      display: flex;
      flex-shrink: 0;
      flex-grow: 0;
      justify-content: flex-end;
      padding-top: var(--lotta-spacing);

      button:not(:first-child) {
        margin-left: var(--lotta-spacing);
      }
    }
  }
}
