.root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100000;
    background-color: rgba(var(--lotta-box-background-color), 1);
    img {
        border: 1px solid #bdbdbd;
        max-width: 80vw;
        max-height: 80vh;
    }
}

.closeButton {
    position: absolute;
    top: var(--lotta-spacing);
    right: var(--lotta-spacing);
}

.leftButton {
    position: absolute;
    left: var(--lotta-spacing);
}

.rightButton {
    position: absolute;
    right: var(--lotta-spacing);
}

.subtitles {
    position: absolute;
    bottom: 5%;
    text-align: center;
}
