@use "breakpoints" as *;

.root {
  .img {
    img {
      max-width: 100%;
      object-fit: cover;
    }
  }

  .deleteButton {
    position: absolute;
    right: 1.5em;
    top: 0.5em;
    z-index: 200;
  }

  .addItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
