.root {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 2.5em 0.5em;

  .button {
    display: flex;
    flex-direction: column;
    text-align: center;
    & > :first-child {
      margin: auto auto 1em auto;
    }
    & > :last-child {
      font-size: 0.75rem;
      font-size: clamp(0.6rem, 2.5vw, 0.8rem);
    }
  }

  .badge svg {
    width: 100%;
    height: 100%;
  }

  .label {
    margin: calc(2 * var(--lotta-spacing)) auto 0 auto;
    font-size: 1.2em;
  }
}
