@import 'breakpoints';

.root {
    display: flex;
    flex-direction: row;
    width: 100%;

    .sideView {
        position: relative;
        flex: 0 0 20em;
        overflow: auto;
        @media screen and (max-width: $max-sm) {
            display: none;
            &.active {
                display: block;
                margin-right: var(--lotta-spacing);
            }
        }
    }

    .messageView {
        margin-left: var(--lotta-spacing);
        padding: var(--lotta-spacing);
        background-color: rgba(var(--lotta-box-background-color), 1);
        flex: 1 2 100%;
        overflow: auto;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: $max-sm) {
            margin-left: 0;
        }
    }

    .noMessagesWrapper {
        display: flex;
        flex: 1 1;
        align-items: center;
        justify-content: center;
        color: rgba(var(--lotta-disabled-color), 1);
    }
}
