.root {
  display: inline-flex;
  align-items: center;
  border: 1px solid;
  border-color: rgb(var(--lotta-primary-color));
  color: rgba(var(--lotta-primary-color), 1);
  font-size: 0.7rem;
  padding: 2px 4px;
  margin-bottom: 10px;
  margin-right: var(--lotta-spacing);
  border-radius: var(--lotta-border-radius);
  max-width: 'max-content';
  font-family: var(--lotta-text-font-family);
  cursor: pointer;
  &:hover {
    background-color: rgba(var(--lotta-primary-color), 0.1);
    box-shadow: 1px 1px 10px rgba(var(--lotta-primary-color), 0.1);
  }
}

.deleteButton {
  float: right;
  margin-left: 2px;
  padding: 0 !important;

  & svg {
    width: 0.5em;
    height: 0.5em;
  }
}
