.drawer {
  position: fixed;
  display: flex;
  align-items: stretch;
  right: 0;
  top: 0;
  padding: 0;
  height: 100vh;
  height: -webkit-fill-available;
  width: 100vw;
  z-index: 15000;
  background: rgb(var(--lotta-box-background-color));
  box-shadow: 2px 2px 10px hsla(0, 0%, 0%, 0.1);

  .sidebar {
    padding-top: var(--lotta-spacing);
    flex-grow: 0;
    border-right: 1px solid rgb(var(--lotta-primary-color));

    button svg {
      font-size: 2.5rem;
    }
  }

  .content {
    overflow: hidden;
    position: relative;
    flex-grow: 1;
  }

  &:after {
    content: '';
    width: 10rem;
    height: 100vh;
    position: absolute;
    right: -10rem;
    top: 0;
    background: rgb(var(--lotta-box-background-color));
  }
}
