.root {
    .heading {
        margin-bottom: calc(3 * var(--lotta-spacing));
    }
    .moveCategoryHandlerIcon {
        vertical-align: bottom;
        margin-right: calc(3 * var(--lotta-spacing));
    }
    .expansionSummary {
        background-color: rgba(var(--lotta-banner-background-color-1), 1);
        border-radius: var(--lotta-border-radius);
        border: 1px solid;
        border-color: rgba(var(--lotta-divider-color), 1);
        margin-bottom: var(--lotta-spacing);
        &:hover {
            border-color: rgba(var(--lotta-banner-background-color-1), 1);
        }
    }
    .subcategories {
        border-radius: var(--lotta-border-radius);
        border: 1px solid;
        border-color: rgba(var(--lotta-divider-color), 1);
        margin-bottom: var(--lotta-spacing);
        background-color: rgba(var(--lotta-box-background-color), 1);
        color: rgba(var(--lotta-banner-background-color1), 1);
        &:hover {
            border-color: rgba(var(--lotta-banner-background-color-1), 1);
        }
    }
    .before::before {
        display: none;
    }
}
