@import 'colors';

.heading {
    margin-bottom: calc(3 * var(--lotta-spacing));
}

div.expansionSummary {
    // TODO: This should probably be other color
    & > div > div {
        display: flex;
        align-items: center;
    }
    &:hover {
        background-color: l_color(highlight, 0.3);
    }
}

.selected {
    font-weight: bolder;
}
