@import '../../styles/util/breakpoints';

.root {
  .container {
    padding-top: calc(3 * var(--lotta-spacing));
    padding-bottom: calc(3 * var(--lotta-spacing));
    padding-left: calc(2 * var(--lotta-spacing));
    padding-right: calc(2 * var(--lotta-spacing));
  }

  .headlines {
    margin-bottom: calc(4 * var(--lotta-spacing));

    @media screen and (max-width: $max-xs) {
      margin-bottom: var(--lotta-spacing);
    }
  }

  .button {
    margin-bottom: var(--lotta-spacing);
    float: right;
    margin-top: var(--lotta-spacing);
  }

  section {
    margin-bottom: calc(2 * var(--lotta-spacing));
    display: flex;

    &>div:first-child {
      padding-right: calc(4 * var(--lotta-spacing));
    }

    &>div:not(:first-child) {
      flex: 1;
    }
  }
}
