@import 'breakpoints';

.root {
  .gridContainer {
    display: flex;
    @media screen and (max-width: $max-sm) {
      flex-direction: column-reverse;
    }
    aside {
      padding: var(--lotta-spacing);
      position: relative;
      width: 20%;
      flex-shrink: 0;
      @media screen and (max-width: $max-sm) {
        width: 100%;
      }
    }
    & > section {
      padding: var(--lotta-spacing);
      position: relative;
    }
  }
  .container {
    display: block;
  }

  .divider {
    margin-top: calc(2 * var(--lotta-spacing));
    margin-bottom: calc(2 * var(--lotta-spacing));
    width: 100%;
  }

  .subheader {
    margin-top: calc(4 * var(--lotta-spacing));
  }

  .groupList {
    margin-bottom: calc(2 * var(--lotta-spacing));
  }

  .groupListItem {
    padding-top: 0;
  }

  .dangerSection {
    width: 100%;
    position: absolute;
    bottom: var(--lotta-spacing);
    left: var(--lotta-spacing);
    @media screen and (max-width: $max-sm) {
      position: relative;
      bottom: initial;
      left: initial;
      margin-bottom: calc(2 * var(--lotta-spacing));
    }
  }

  .changePersonalData {
    display: flex;
    justify-content: space-between;
    button {
      border: 0;
    }
    @media screen and (max-width: $max-xs) {
      flex-wrap: wrap;
      button {
        width: 100%;
      }
    }
  }
  h5 {
    margin-top: calc(3 * var(--lotta-spacing));
  }
}
