.root {
  --infra-purple: #4a00b8;

  display: flex;
  flex-direction: column;
  width: 100%;

  .notice {
    display: flex;
    margin-block: var(--lotta-spacing);

    svg {
      margin-right: var(--lotta-spacing);
      flex: 0 0 auto;
      fill: var(--infra-purple);
    }
  }
}
