.root {
    margin-top: var(--lotta-spacing);
    margin-bottom: var(--lotta-spacing);
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: rgba(var(--lotta-box-background-color), 1);
    color: rgba(var(--lotta-text-color), 1);
    padding: calc(2 * var(--lotta-spacing));
}
