.avatar {
    height: 1em;
    width: 1em;
    margin: 0.15em 0.25em 0.15em 0;
}

.divider {
    margin-top: var(--lotta-spacing);
    margin-bottom: var(--lotta-spacing);
}

.headline {
    margin-bottom: calc(2 * var(--lotta-spacing));
}

.resultsGridItem {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.searchUserField {
    background-color: rgba(var(--lotta-banner-background-color1), 1);
}

.formControl {
    width: 100%;
}

.virtualizedTable {
    .ReactVirtualized__Table__headerColumn:last-child {
        flex: 1 !important;
    }
}
