@import 'breakpoints';

.root {
    display: block;
    .container {
        display: block;
    }
    @media screen and (min-width: $min-md) {
        .helpText {
            padding-left: calc(var(--lotta-spacing) * 2);
        }

        .gridContainer {
            flex-direction: row-reverse;
        }
    }
}
