@import 'breakpoints';

.root {
    display: block;
    .container {
        display: block;
    }
    .gridContainer {
        display: flex;
        flex-direction: column;
    }
    @media screen and (min-width: $min-md) {
        .gridContainer {
            flex-direction: row-reverse;
        }

        .helpText {
            padding-left: calc(var(--lotta-spacing) * 2);
            flex: 0 0 33%;
        }

        .helpText + div {
            flex: 1;
        }
    }
}
