.root {
  position: fixed;
  background-color: rgb(var(--lotta-box-background-color));
  border-radius: var(--lotta-border-radius);
  border: 1px solid rgba(var(--lotta-primary-color), 0.5);
  width: max-content;
  z-index: 500;
  max-width: 75vw;
  max-height: 75vh;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
}
