.root {
  background-color: rgb(var(--lotta-box-background-color));
  overflow: hidden;
  display: flex;
  flex: 1 1 auto;

  .browserColumns {
    display: flex;
    overflow: auto;
    width: 100%;
  }

  .nodeInfo {
    flex: 0 1 max(min(50%, 500px), 250px);
  }
}
