.root {
  background-color: rgb(var(--lotta-box-background-color));
  height: 300px;
  display: flex;
  overflow: hidden;
  display: flex;

  .BrowserColumns {
    display: flex;
    overflow: auto;
    width: 100%;
  }
}
