@import "../theme/breakpoints.scss";

.root {
  height: 100%;
  padding: var(--lotta-spacing);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .previewImage {
    max-width: 90%;
    border-radius: var(--lotta-border-radius);
    margin: 0 auto;
    aspect-ratio: 1.333;
    width: 100%;
  }

  .infoSection {
    margin-top: var(--lotta-spacing);
    padding: var(--lotta-spacing);
    width: 100%;
    overflow: auto;
    text-align: justify;
  }
}
