.root {
  background-color: rgb(var(--lotta-accent-grey-color));
  padding: var(--lotta-spacing);
  font-size: 0.75em;
  color: rgba(var(--lotta-text-color), 0.5);
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;

  svg {
    font-size: 1.25em;
  }

  .separator {
    margin: 0 0.25em;
  }

  a {
    text-decoration: none;
    &:hover:not(.home) {
      text-decoration: underline;
    }
  }
  .home {
    flex: 0 0 auto;
    color: rgb(var(--lotta-primary-color));
  }
  .pathComponent {
    flex: 0 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: min-width 0.75s ease-in;
    min-width: 0;
    &:hover {
      min-width: max-content;
    }
  }
}
