.root {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: rgba(var(--lotta-accent-grey-color));
  border-top-right-radius: var(--lotta-border-radius);
  border-top-left-radius: var(--lotta-border-radius);

  border: 1px solid rgba(var(--lotta-accent-grey-color));

  padding: var(--lotta-spacing);

  .leftContainer {
    flex: 1 1 auto;
  }

  .searchField {
    flex: 0 1 400px;
    min-width: 8em;
    max-width: 50%;
  }

  .rightContainer {
    flex: 1 1 fit-content;
    display: flex;
    justify-content: flex-end;

    & > *:not(:last-child) {
      margin-right: var(--lotta-spacing);
    }
  }
}
