.box {
    font-size: 0.8rem;
    margin: 0;
    background-color: rgba(var(--lotta-box-background-color), 1);
    padding: 0.5em;
    font-family: sans-serif;
    display: flex;
    width: 100%;
}

.box div {
    display: block;
}

.banner .box div {
    display: flex;
}

aside .box {
    display: block;
}
