.page {
    background: rgba(var(--lotta-page-background-color), 1);
    padding-right: 10vw;
    padding-left: 10vw;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    column-gap: 0.5em;
    grid-template-columns: 30% auto 30%;
    grid-template-rows: 10% 10% auto;
}

.page > .lotta-navbar {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
}

.page > main {
    grid-column-start: 1;
    grid-column-end: 3;
}

.page > aside {
    grid-column-start: 3;
    grid-column-end: 3;
}
