.root {
  .titleBar {
    display: flex;
    background: rgb(var(--lotta-box-background-color));
    padding-bottom: calc(0.5 * var(--lotta-spacing));
    border-bottom: 1px solid rgb(var(--lotta-divider-color));

    svg {
      padding: var(--lotta-spacing);
    }

    a {
      display: flex;
      align-items: center;
      border-right: 1px solid rgb(var(--lotta-divider-color));
      padding-right: var(--lotta-spacing);
    }

    h2 {
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      margin: 0;
      margin-block: 0;
      margin-inline: 0;
      padding-left: var(--lotta-spacing);
    }
  }

  .contentSection {
    background-color: rgb(var(--lotta-box-background-color));
  }

  .noAccessMessageContainer {
    text-align: center;

    div {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      margin: auto;
      color: rgb(var(--lotta-error-color));

      span {
        padding-left: var(--lotta-spacing);
        font-weight: bolder;
      }
    }
  }
}
