.gridContainer {
  display: flex;
  margin-bottom: calc(3 * var(--lotta-spacing));
}

.saveButtonContainer {
  justify-content: flex-end;

  button {
    width: 20%;
    max-width: 20em;
    margin-right: calc(1 * var(--lotta-spacing));
  }
}

.gridItem {
  flex: 1;
  margin-right: calc(1 * var(--lotta-spacing));
}

.section {
  margin-bottom: calc(2 * var(--lotta-spacing));
}
