.headerBox {
  display: block;
  line-height: calc(3 * var(--lotta-spacing));
  margin-bottom: calc(4 * var(--lotta-spacing));
  background-color: rgba(var(--lotta-divider-color), 0.2);
}

.gridContainer {
  display: flex;
  margin-bottom: calc(3 * var(--lotta-spacing));
}

.saveButtonContainer {
  justify-content: flex-end;
  button {
    width: 20%;
    max-width: 20em;
    margin-right: calc(1 * var(--lotta-spacing));
  }
}

.gridItem {
  flex: 1;
  margin-right: calc(1 * var(--lotta-spacing));
}

.section {
  margin-bottom: calc(2 * var(--lotta-spacing));
}

.usageTable {
  justify-content: stretch;
  & > div {
    flex: 1;
    text-align: center;
  }
  & > :first-child {
    flex: 0 1 16%;
  }
}

.rootFeedback {
  display: flex;
  .userFeedback {
    min-width: 55%;
    margin: var(--lotta-spacing);
    border-right: 1px solid rgba(var(--lotta-divider-color), 1);
  }

  .adminFeedback {
    width: -moz-available;
    margin: var(--lotta-spacing);
  }
  .infoText {
    font-size: smaller;
    color: rgba(var(--lotta-label-text-color), 0.9);
  }
  .submitButton {
    display: flex;
    justify-content: flex-end;
  }
  th {
    text-align: left;
    padding-left: var(--lotta-spacing);
  }
  table {
    margin-top: calc(4 * var(--lotta-spacing));
  }
  /* ##################### */
  /* Folgende Styles nur aktiv, wenn Nachricht ausgeklappt: */
  .activeRow {
    background-color: rgba(var(--lotta-divider-color), 0.1);
  }
  .titleRow {
    border-bottom: 0px;
  }
  /* ##################### */
  .infoRow {
    .message {
      margin-bottom: var(--lotta-spacing);
      margin-top: var(--lotta-spacing);
    }
    .buttons {
      display: flex;
      justify-content: flex-end;
      margin-top: var(--lotta-spacing);
    }
    .answerButton {
      margin-left: var(--lotta-spacing);
    }
  }
}
