@import "breakpoints";

.show {
  margin: 0;
  padding-left: var(--lotta-spacing);
  padding-right: var(--lotta-spacing);
  @media screen and (max-width: $max-xs) {
    padding: 0;
  }
}

.edit {
  figcaption: {
    border: 1px solid var(--lotta-color-secondary);
    width: 100%;
  }
}
