.root {
  overflow: auto;
  max-height: 100%;

  li {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover,
    &:focus,
    &.selected {
      background-color: rgba(var(--lotta-primary-color), 0.1);
      border-radius: var(--lotta-border-radius);
    }

    &.highlighted {
      background-color: rgba(var(--lotta-primary-color), 0.05);
      border-radius: var(--lotta-border-radius);
    }

    span {
      .draghandleIcon {
        fill: rgba(var(--lotta-text-color), 0.7);
        margin-right: calc(2 * var(--lotta-spacing));
      }
    }
  }
}
