@import 'breakpoints';

.root {
  display: none;
  padding-bottom: calc(var(--lotta-spacing) / 2);
  font-size: 0.8rem;

  &:has(:nth-child(4)) {
    font-size: 0.7rem;
  }

  .link {
    padding: 0;

    &:after {
      content: '|';
      margin-inline: var(--lotta-spacing);
    }

  }

  @media screen and (max-width: $max-sm) {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

    .link {
      white-space: nowrap;
      display: inline-block;
      line-height: 1.6rem;
    }

    &:has(:nth-child(4)) {
      .link:after {
        margin-inline: calc(var(--lotta-spacing) / 2);
      }
    }
  }

  @media screen and (min-width: $min-md) {
    display: block;
    top: -0.5em;
    right: -1em;
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: right;
    width: max-content;
  }
}
