.root {
    padding-top: calc(3 * var(--lotta-spacing));
    padding-bottom: calc(3 * var(--lotta-spacing));
    padding-left: calc(2 * var(--lotta-spacing));
    padding-right: calc(2 * var(--lotta-spacing));
    .headline {
        margin-bottom: calc(4 * var(--lotta-spacing));
    }

    .addButton {
        float: right;
        margin-top: var(--lotta-spacing);
    }

    .leftIcon {
        margin-right: var(--lotta-spacing);
    }

    .iconSmall {
        font-size: 20px;
    }

    .navigationWrapper {
        padding-right: calc(4 * var(--lotta-spacing));
    }
}
