@import 'breakpoints';

.root {
    padding-top: calc(3 * var(--lotta-spacing)) calc(2 * var(--lotta-spacing));

    .headline {
        margin-bottom: calc(4 * var(--lotta-spacing));
    }

    .addButton {
        float: right;
        margin-top: var(--lotta-spacing);
    }

    .leftIcon {
        margin-right: var(--lotta-spacing);
    }

    .iconSmall {
        font-size: 20px;
    }

    .wrapper {
        display: flex;
    }

    aside {
        padding-right: calc(4 * var(--lotta-spacing));
        width: calc(calc(100% / 12) * 5);
    }

    @media screen and (max-width: $max-sm) {
        .wrapper {
            display: block;
        }

        aside {
            width: 100%;
        }
    }
}
