@use "breakpoints" as *;

.root {
  position: relative;

  &.isEmpty {
    width: 0;
    padding: 0;
  }

  &:not(.isEmpty) {
    width: 25%;
    padding-left: var(--lotta-spacing);

    @media screen and (max-width: $max-md) {
      width: 33%;
    }

    @media screen and (max-width: $max-xs) {
      width: 100%;
    }
  }
}

.drawer {
  height: 100vh;
  padding: 0;
}
