@import "breakpoints";

.root {
  .iconStyle {
    .gridContainer {
      display: flex;

      & > div {
        flex: 1;
        width: auto;
      }
    }
  }

  .iconScrollbar {
    overflow-x: scroll;
    margin-bottom: calc(2 * var(--lotta-spacing));
    display: flex;
  }

  .overlayTextDescription {
    margin-bottom: var(--lotta-spacing);
  }

  .preview {
    display: flex;
  }
}
