.root {
  color: rgba(var(--lotta-primary-color), 1);
  font-weight: 200;
  padding: calc(var(--lotta-spacing) / 2) var(--lotta-spacing);
  align-items: center;

  &:not(.small) {
    min-height: 2.5em;
  }

  .icon {
    display: flex;
    margin-right: var(--lotta-spacing);
  }

  .label {
    margin: auto;
    display: contents;
  }

  &.onlyIcon {
    &:not(.grouped) {
      border-radius: 50%;
      border-color: transparent;
      height: 2.5em;
      width: 2.5em;

      & .icon {
        margin: 0px;
      }

      &:not([data-varaint='fill']) {
        &:hover {
          background-color: rgba(var(--lotta-primary-color), 0.2);
        }
      }
    }
  }
}
