@import '~video-react/styles/scss/video-react';

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    font-family: var(--lotta-typography-font-family);
}

body {
    margin: 0 auto;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-block-start: 0;
    margin-block-end: calc(0.5 * var(--lotta-spacing));
}

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.25em;
}
h4 {
    font-size: 1.2em;
}
h5,
h6 {
    font-size: 1em;
}
