@import "~video-react/styles/scss/video-react";
@import url('https://fonts.googleapis.com/css?family=Muli:300,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Schoolbell&display=swap');

html, body {
    margin: 0;
    background: linear-gradient(30deg,#f3f3f3,#d2ccc9);
    background-color: #f3f3f3;
    background-attachment: fixed;
    background-image: url(/img/hg1.png);
    background-size: cover;
}

body {
    margin: 0 auto;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

figcaption {
    text-align: right;
}