@import "~video-react/styles/scss/video-react";
@import url('https://fonts.googleapis.com/css?family=Muli:300,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css?family=Domine&display=swap');

html, body {
    margin: 0;
}

body {
    margin: 0 auto;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

figcaption {
    text-align: right;
}