@import '~video-react/styles/scss/video-react';

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    font-family: var(--lotta-typography-font-family);
}

body {
    margin: 0 auto;
}
body::after {
    content: '';
    position: fixed;
    top: 0;
    height: 100vh; /* fix for mobile browser address bar appearing disappearing */
    left: 0;
    right: 0;
    z-index: -1;
    background-color: rgba(var(--lotta-page-background-color), 1);
    background-attachment: scroll;
    background-size: cover;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}

figure {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-block-start: 0;
    margin-block-end: calc(0.5 * var(--lotta-spacing));
}

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.25em;
}
h4 {
    font-size: 1.2em;
}
h5,
h6 {
    font-size: 1em;
}

fieldset {
    border: none;
    padding: 0;
}
