.root {
    display: flex;
    width: 100%;
    padding: 8px 0;
    .avatar-group {
        align-self: baseline;
        flex-grow: 1;
    }
    .avatar {
        width: 30px;
        height: 30px;
        font-size: 1rem;
        border-radius: 50%;
        background-color: rgba(var(--lotta-box-background-color), 1);
    }
}
