.root {
    position: relative;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(var(--lotta-disabled-color), 1);
    padding: var(--lotta-spacing);
    outline: none;
    font-family: inherit;
    &:focus {
        border-bottom: 1px solid rgba(var(--lotta-primary-color), 1);
        background-color: rgba(var(--lotta-primary-color), 0.1);
        border-top-left-radius: var(--lotta-border-radius);
        border-top-right-radius: var(--lotta-border-radius);
    }
    &.inline {
        appearance: none;
        padding: 0;
        background-color: transparent;
        border: none;
        border-bottom: none;
        padding: var(--lotta-spacing);
        resize: none;
        &:focus {
            border: none;
            border-radius: var(--lotta-border-radius);
            background-color: rgba(var(--lotta-primary-color), 0.1);
        }
    }
}
