.lotta-button-group {
    display: inline-flex;
    flex-direction: row;
    justify-content: stretch;
    button {
        color: rgba(var(--lotta-primary-color), 1);
        background-color: #fff;
        display: inline-block;
        &:not(:only-child) {
            &:not(:first-of-type):not(:last-of-type):not(.is-first-button-group-button):not(.is-last-button-group-button) {
                border-radius: 0;
                border-right: 0;
            }
            &:first-of-type:not(.is-last-button-group-button),
            &.is-first-button-group-button {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-right: 0;
            }
            &:last-of-type:not(.is-first-button-group-button),
            &.is-last-button-group-button {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
        &.is-first-button-group-button {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: 0;
        }
        &.is-last-button-group-button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        &.full-width {
            flex-grow: 1;
        }
        .lotta-button_icon svg {
            font-size: 1.3rem;
        }
    }
    &.full-width {
        width: 100%;
    }
}
