.root {
  position: relative;
  border-width: 0;
  border-color: transparent;
  border-style: solid;
  overflow: initial;
  padding-bottom: var(--lotta-spacing);
  &.isEditModeEnabled {
    border-width: 1px;
    background-color: rgba(var(--lotta-primary-color), 0.1);
    border-radius: var(--lotta-border-radius);
    margin-bottom: var(--lotta-spacing);
  }
  &:hover,
  &:focus-within {
    border-color: rgb(var(--lotta-highlight-color));
    .titlebar {
      opacity: 0.8;
    }
  }
  &.active {
    border-color: rgb(var(--lotta-primary-color));
    .titlebar {
      opacity: 0.8;
    }
  }

  .titlebar {
    opacity: 0;
    padding: calc(0.5 * var(--lotta-spacing));
    margin-bottom: var(--lotta-spacing);
    width: 100%;
    background-color: rgb(var(--lotta-highlight-color));
    display: flex;
    justify-content: space-between;
    transition: opacity 250ms ease-in;
    & > span {
      display: flex;
    }

    section {
      display: flex;
      color: rgba(var(--lotta-text-color), 0.7);
      & > *:not(:last-child) {
        margin-right: calc(0.5 * var(--lotta-spacing));
      }
    }

    button {
      padding: 0 5px;

      svg {
        color: rgba(var(--lotta-text-color), 0.7);
      }

      &.deleteButton {
        svg {
          color: rgba(var(--lotta-error-color), 1);
        }
      }
    }
  }
}
