.root {
  .content {
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .tabbar {
    flex: 0 0 max-content;
    & > button {
      margin-bottom: 0;
    }
  }

  .tabbar ~ * {
    flex: 1 0 max-content;
    overflow: auto;
  }

  .tabbarAvatar {
    margin-right: var(--lotta-spacing);
  }
}
