# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
---
name: 'CD'
on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:
    types: [opened, synchronize, labeled]

env:
  NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}
  NX_NO_CLOUD: ${{ vars.NX_NO_CLOUD }}
  GITHUB_ACTIONS: true

jobs:
  enforce-all-checks:
    runs-on: ubuntu-24.04
    if: (github.event_name == 'push' && github.ref_type != 'tag') || contains(github.event.pull_request.labels.*.name, 'preview')
    permissions:
      checks: read
    steps:
      - name: GitHub Checks
        uses: poseidon/wait-for-status-checks@v0.6.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          ignore_pattern: 'codecov\/.*|CodeQL'

  env_calculator:
    name: Get Environment Name
    runs-on: ubuntu-24.04
    outputs:
      env_name: '${{ steps.get_env_name.outputs.env_name }}'
    needs:
      - enforce-all-checks
    if: |
      always() &&
      !failure() &&
      !cancelled()
    steps:
      - name: Read env name
        id: get_env_name
        run: |
          if [[ "${{ github.ref_type }}" == 'tag' ]]; then
            env_name="production"
          elif [[ "${{ github.ref_name }}" == 'main' ]]; then
            env_name="staging"
          else
            env_name="preview"
          fi
          echo "::notice title=ENV_NAME::$env_name"
          echo "env_name=$env_name" >> $GITHUB_OUTPUT

  publish-docker-images:
    name: ${{ matrix.image.name }} (${{ needs.env_calculator.outputs.env_name }}) Docker images
    needs:
      - env_calculator
    if: |
      always() &&
      !failure() &&
      !cancelled()
    strategy:
      matrix:
        image:
          - name: web
            dockerfile: apps/webapp/Dockerfile
            context: .
            sentry_dsn: ${{ vars.WEB_SENTRY_DSN }}
          - name: core
            dockerfile: Dockerfile
            context: apps/core-api
            sentry_dsn: ${{ vars.CORE_SENTRY_DSN }}
    uses: ./.github/workflows/__deploy_dockerfile.yaml
    with:
      name: ${{ matrix.image.name }}
      registry: ghcr.io
      context: ${{ matrix.image.context }}
      dockerfile: ${{ matrix.image.dockerfile }}
      platforms: '["linux/amd64","linux/arm64"]'
      push: true
      sentry_dsn: ${{ matrix.image.sentry_dsn }}
    secrets:
      password: ${{ secrets.GITHUB_TOKEN }}
      sentry_auth_token: ${{ secrets.SENTRY_AUTH_TOKEN }}

  lighthouse:
    name: 'Performance + Accessibility via Lighthouse'
    runs-on: ubuntu-24.04
    if: ${{ !cancelled() }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup PNPM package manager
        uses: pnpm/action-setup@v3
        with:
          version: 10
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24.5
          cache: pnpm
      - name: Install node dependencies
        run: pnpm install
        working-directory: apps/e2e
      - name: Install Playwright Browsers
        run: pnpm exec playwright install --with-deps
        working-directory: apps/e2e
      - name: Run lotta as a service from docker-compose.yml
        uses: hoverkraft-tech/compose-action@v2.0.2
        env:
          IMAGE_TAG: ${{ inputs.image_tag }}
        with:
          compose-file: docker-compose.yaml
          cwd: ${{ github.workspace }}/apps/e2e
          up-flags: --force-recreate --wait
      - run: |
          node -r ts-node/register scripts/lh_tenant/setup
        env:
          BASE_URI_HOST: local.lotta.schule
          BASE_URI_SCHEME: http
          BASE_URI_PORT: 3000
          CORE_URL: http://localhost:4000
          ADMIN_USERNAME: admin
          ADMIN_PASSWORD: secretapikey
        working-directory: apps/e2e
      - name: Audit URLs using Lighthouse
        uses: treosh/lighthouse-ci-action@v12
        with:
          urls: |
            http://lighthouse.local.lotta.schule:3000
          uploadArtifacts: true
          temporaryPublicStorage: true
        env:
          LHCI_GITHUB_APP_TOKEN: '${{ secrets.LHCI_GITHUB_APP_TOKEN }}'

  run-e2e-tests:
    name: Run end-to-end tests
    needs:
      - publish-docker-images
      - env_calculator
    if: |
      always() &&
      !failure() &&
      !cancelled()
    uses: ./.github/workflows/e2e.yaml
    with:
      image_tag: ${{ needs.publish-docker-images.outputs.release_name }}
    secrets:
      aws_key_id: '${{ secrets.PUBLIC_BUCKET_AWS_ACCESS_KEY_ID }}'
      aws_secret_access_key: '${{ secrets.PUBLIC_BUCKET_AWS_SECRET_ACCESS_KEY }}'
      endpoint: '${{ secrets.PUBLIC_BUCKET_ENDPOINT }}'

  create-sentry-release:
    runs-on: ubuntu-24.04
    name: |
      Sentry Rel.: ${{ matrix.project }} (${{ needs.env_calculator.outputs.env_name }})
    needs:
      - publish-docker-images
      - env_calculator
    if: |
      always() &&
      !failure() &&
      !cancelled()
    strategy:
      matrix:
        project: ['core', 'web']
    steps:
      # Sentry does need a repository it seems
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: getsentry/action-release@v1
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
          SENTRY_PROJECT: ${{ matrix.project }}
        with:
          environment: ${{ needs.env_calculator.outputs.env_name }}
          version: ${{ needs.publish-docker-images.outputs.release_name }}
