---
name: 'Chromatic e2e component tests'
on:
  push:
    paths:
      - 'apps/storybook-hubert/**'
      - 'libs/**'
      - '.github/workflows/chromatic.yaml'

env:
  NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}
  NX_NO_CLOUD: ${{ vars.NX_NO_CLOUD }}
  GITHUB_ACTIONS: true

jobs:
  storybook-chromatic:
    if: false
    name: Storybook visual testing on Chromatic
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup PNPM package manager
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24.5
          cache: 'pnpm'

      - name: Install npm dependencies
        run: pnpm install

      - name: Build storybook
        run: NODE_ENV=test pnpm nx build storybook-hubert

      - name: Send to Chromatic
        uses: chromaui/action@v1
        with:
          workingDir: './apps/storybook-hubert'
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          skip: 'dependabot/**'
          autoAcceptChanges: 'main'
          storybookBuildDir: storybook-static
        env:
          NODE_ENV: test
