name: 'Format code'
on:
  push:
    branches-ignore:
      - main

env:
  HUSKY: 0

concurrency:
  group: ${{ github.sha }}-${{ github.workflow }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  format-code:
    uses: lotta-schule/github-actions/.github/workflows/run-formatter.yaml@main
    with:
      otp-version: '28.0.2'
      elixir-version: '1.18.4'
      node-version: '24.5'
