---
name: 'Release: Create new version'
on:
  workflow_dispatch:
    inputs:
      release_level:
        description: 'Wether to release a major, minor or patch version'
        required: true
        type: choice
        options:
          - patch
          - minor
          - major

jobs:
  create-release:
    name: 'Create release'
    runs-on: ubuntu-24.04
    outputs:
      version: ${{ steps.bump.outputs.version }}
    steps:
      - uses: actions/create-github-app-token@v1
        name: Create GitHub App Token to bypass restricions on committing to a protected branch
        id: app-token
        with:
          app-id: ${{ vars.GH_RELEASE_APP_ID }}
          private-key: ${{ secrets.GH_RELEASE_APP_PRIVKEY }}

      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          token: ${{ steps.app-token.outputs.token }}

      - name: Find Tag
        id: tagger
        uses: jimschubert/query-tag-action@v1
        with:
          include: 'v*'
          commit-ish: 'HEAD~'

      - name: Setup PNPM package manager
        uses: pnpm/action-setup@v4

      - name: Install node dependencies
        run: pnpm install

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24.5
          cache: 'pnpm'

      - name: Setup Git User
        run: |
          git config user.name "GitHub Actions"
          git config user.email "github-actions@users.noreply.github.com"

      - name: Prepare next version
        id: bump
        run: |
          LAST_TAG=$(echo ${{ steps.tagger.outputs.tag }} | cut -c 2-)
          NEXT_VERSION=$(pnpm dlx semver -i ${{ inputs.release_level }} $LAST_TAG)
          pnpm release:prepare $NEXT_VERSION
          echo ::set-output name=version::$NEXT_VERSION

      - name: Push Git Tag
        run: |
          git push origin $(git branch --show-current)
          git push origin tag v${{ steps.bump.outputs.version }}
